
@import "compass/reset";
@import "compass/css3/";

@include keyframes(rot){
	from {
		transform:
			 rotate(0deg);
	}
	to {
		transform:
			rotate(-360deg);
	}
}

$AU: 400;
$earth-size: 50;
$outer-size: .50;
$earth-orbit: 5;

@mixin planet-size($earths, $AUs){
	height: ($earth-size * $earths) + px;
	width: ($earth-size * $earths) + px;
  margin-left: -( $earth-size * $earths /2)  + px;
  margin-top: -( $earth-size * $earths /2)  + px;
	@include border-radius(($earth-size * $earths) + px, ($earth-size * $earths) + px);
}

@mixin outer-planet-size($earths, $AUs){
	height: ($outer-size * $earths) + px;
	width: ($outer-size * $earths) + px;
   margin-left: -( $outer-size * $earths /2)  + px;
   margin-top: -( $outer-size * $earths /2)  + px;
   @include border-radius(($outer-size * $earths) + px, ($outer-size * $earths) + px);
}

@mixin rotation-speed($earths){
	@include animation(rot ($earth-orbit*$earths)+s infinite linear);
}

@mixin orbit-size($AUs){
	width: ($AUs * $AU) + px;
	height: ($AUs * $AU) + px;
	margin-top: -( ($AUs * $AU) /2) + px;
	margin-left:  -( ($AUs * $AU) /2) + px;
  @include border-radius(($AUs * $AU) + px, ($AUs * $AU) + px);
}

body, html{
	min-height: 2000px;
	min-width: 1100px;
	height: 2000px;
	width: 1100px;
	position: relative;
	background: #000;
	color: white;
	margin: 0 auto;	
}

body {
	zoom: 15%;
	top: 50%;
}

.sun{
	background:#ffcc00;
	height: 30px;
	width: 30px;
	@include border-radius(30px, 30px);
	margin-left:-15px;
	margin-top:-15px;
	text-align: center;
	line-height: 30px;
}

.orbit {
	top: 50%;
	left: 50%;
	position: absolute;
	border: 1px solid white;

	&:before{
	 content: '';
	display:block;
	position: absolute;
	left: 50%;
	top: 0%
	}
}


.mercury {
	@include orbit-size(0.4);
	@include rotation-speed(0.2409);

	&:before{
		background:#ff9000;
		@include border-radius(5.6px, 5.6px);
		@include planet-size(0.056, 0.4);
	}
}

.venus {
	@include orbit-size(0.7);
	@include rotation-speed(0.616);

	&:before {
		background:#ffde00;
		@include planet-size(0.866, 0.7);
	}
}

.earth {
	@include orbit-size(1);
	@include rotation-speed(1);


	&:before{
		background:#00aaff;
		@include planet-size(1, 1);
	}
}  

.mars {
	@include orbit-size(1.5);
	@include rotation-speed(1.9);

	&:before{
		background:#ff0036;
		@include planet-size(0.151, 1.5);
	}
}

.jupiter {
	@include orbit-size(5.203);
	@include rotation-speed(12);

	&:before{
		background:#a24309 ;
		@include outer-planet-size(1321.3, 5.203);
	}
}

.saturn {
	@include orbit-size(9.539);
	@include rotation-speed(29.5);

	&:before{
		background:#c1aa67;
		@include outer-planet-size(763.59, 9.539);
	}
}

.uranus {
	@include orbit-size(19.18);
	@include rotation-speed(84);

	&:before{
		background:#98bbce;
		@include outer-planet-size(63.086, 19.18);
	}
}

.neptune {
	@include orbit-size(30.06);
	@include rotation-speed(164);

	&:before{
		background:#95b2de;
		@include outer-planet-size(57.74, 30.06);
	}
}

