/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* line 49, ../sass/screen.scss */
body, html {
  min-height: 2000px;
  min-width: 1100px;
  height: 2000px;
  width: 1100px;
  position: relative;
  background: #000;
  color: white;
  margin: 0 auto;
}

/* line 60, ../sass/screen.scss */
body {
  zoom: 15%;
  top: 50%;
}

/* line 65, ../sass/screen.scss */
.sun {
  background: #ffcc00;
  height: 30px;
  width: 30px;
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  margin-left: -15px;
  margin-top: -15px;
  text-align: center;
  line-height: 30px;
}

/* line 76, ../sass/screen.scss */
.orbit {
  top: 50%;
  left: 50%;
  position: absolute;
  border: 1px solid white;
}
/* line 82, ../sass/screen.scss */
.orbit:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0%;
}

/* line 92, ../sass/screen.scss */
.mercury {
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
  -moz-border-radius: 160px / 160px;
  -webkit-border-radius: 160px 160px;
  border-radius: 160px / 160px;
  -moz-animation: rot 1.2045s infinite linear;
  -webkit-animation: rot 1.2045s infinite linear;
  animation: rot 1.2045s infinite linear;
}
/* line 96, ../sass/screen.scss */
.mercury:before {
  background: #ff9000;
  -moz-border-radius: 5.6px / 5.6px;
  -webkit-border-radius: 5.6px 5.6px;
  border-radius: 5.6px / 5.6px;
  height: 2.8px;
  width: 2.8px;
  margin-left: -1.4px;
  margin-top: -1.4px;
  -moz-border-radius: 2.8px / 2.8px;
  -webkit-border-radius: 2.8px 2.8px;
  border-radius: 2.8px / 2.8px;
}

/* line 103, ../sass/screen.scss */
.venus {
  width: 280px;
  height: 280px;
  margin-top: -140px;
  margin-left: -140px;
  -moz-border-radius: 280px / 280px;
  -webkit-border-radius: 280px 280px;
  border-radius: 280px / 280px;
  -moz-animation: rot 3.08s infinite linear;
  -webkit-animation: rot 3.08s infinite linear;
  animation: rot 3.08s infinite linear;
}
/* line 107, ../sass/screen.scss */
.venus:before {
  background: #ffde00;
  height: 43.3px;
  width: 43.3px;
  margin-left: -21.65px;
  margin-top: -21.65px;
  -moz-border-radius: 43.3px / 43.3px;
  -webkit-border-radius: 43.3px 43.3px;
  border-radius: 43.3px / 43.3px;
}

/* line 113, ../sass/screen.scss */
.earth {
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  -moz-border-radius: 400px / 400px;
  -webkit-border-radius: 400px 400px;
  border-radius: 400px / 400px;
  -moz-animation: rot 5s infinite linear;
  -webkit-animation: rot 5s infinite linear;
  animation: rot 5s infinite linear;
}
/* line 118, ../sass/screen.scss */
.earth:before {
  background: #00aaff;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
  -moz-border-radius: 50px / 50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px / 50px;
}

/* line 124, ../sass/screen.scss */
.mars {
  width: 600px;
  height: 600px;
  margin-top: -300px;
  margin-left: -300px;
  -moz-border-radius: 600px / 600px;
  -webkit-border-radius: 600px 600px;
  border-radius: 600px / 600px;
  -moz-animation: rot 9.5s infinite linear;
  -webkit-animation: rot 9.5s infinite linear;
  animation: rot 9.5s infinite linear;
}
/* line 128, ../sass/screen.scss */
.mars:before {
  background: #ff0036;
  height: 7.55px;
  width: 7.55px;
  margin-left: -3.775px;
  margin-top: -3.775px;
  -moz-border-radius: 7.55px / 7.55px;
  -webkit-border-radius: 7.55px 7.55px;
  border-radius: 7.55px / 7.55px;
}

/* line 134, ../sass/screen.scss */
.jupiter {
  width: 2081.2px;
  height: 2081.2px;
  margin-top: -1040.6px;
  margin-left: -1040.6px;
  -moz-border-radius: 2081.2px / 2081.2px;
  -webkit-border-radius: 2081.2px 2081.2px;
  border-radius: 2081.2px / 2081.2px;
  -moz-animation: rot 60s infinite linear;
  -webkit-animation: rot 60s infinite linear;
  animation: rot 60s infinite linear;
}
/* line 138, ../sass/screen.scss */
.jupiter:before {
  background: #a24309;
  height: 660.65px;
  width: 660.65px;
  margin-left: -330.325px;
  margin-top: -330.325px;
  -moz-border-radius: 660.65px / 660.65px;
  -webkit-border-radius: 660.65px 660.65px;
  border-radius: 660.65px / 660.65px;
}

/* line 144, ../sass/screen.scss */
.saturn {
  width: 3815.6px;
  height: 3815.6px;
  margin-top: -1907.8px;
  margin-left: -1907.8px;
  -moz-border-radius: 3815.6px / 3815.6px;
  -webkit-border-radius: 3815.6px 3815.6px;
  border-radius: 3815.6px / 3815.6px;
  -moz-animation: rot 147.5s infinite linear;
  -webkit-animation: rot 147.5s infinite linear;
  animation: rot 147.5s infinite linear;
}
/* line 148, ../sass/screen.scss */
.saturn:before {
  background: #c1aa67;
  height: 381.795px;
  width: 381.795px;
  margin-left: -190.8975px;
  margin-top: -190.8975px;
  -moz-border-radius: 381.795px / 381.795px;
  -webkit-border-radius: 381.795px 381.795px;
  border-radius: 381.795px / 381.795px;
}

/* line 154, ../sass/screen.scss */
.uranus {
  width: 7672px;
  height: 7672px;
  margin-top: -3836px;
  margin-left: -3836px;
  -moz-border-radius: 7672px / 7672px;
  -webkit-border-radius: 7672px 7672px;
  border-radius: 7672px / 7672px;
  -moz-animation: rot 420s infinite linear;
  -webkit-animation: rot 420s infinite linear;
  animation: rot 420s infinite linear;
}
/* line 158, ../sass/screen.scss */
.uranus:before {
  background: #98bbce;
  height: 31.543px;
  width: 31.543px;
  margin-left: -15.7715px;
  margin-top: -15.7715px;
  -moz-border-radius: 31.543px / 31.543px;
  -webkit-border-radius: 31.543px 31.543px;
  border-radius: 31.543px / 31.543px;
}

/* line 164, ../sass/screen.scss */
.neptune {
  width: 12024px;
  height: 12024px;
  margin-top: -6012px;
  margin-left: -6012px;
  -moz-border-radius: 12024px / 12024px;
  -webkit-border-radius: 12024px 12024px;
  border-radius: 12024px / 12024px;
  -moz-animation: rot 820s infinite linear;
  -webkit-animation: rot 820s infinite linear;
  animation: rot 820s infinite linear;
}
/* line 168, ../sass/screen.scss */
.neptune:before {
  background: #95b2de;
  height: 28.87px;
  width: 28.87px;
  margin-left: -14.435px;
  margin-top: -14.435px;
  -moz-border-radius: 28.87px / 28.87px;
  -webkit-border-radius: 28.87px 28.87px;
  border-radius: 28.87px / 28.87px;
}
