/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* line 23, ../sass/screen.scss */
body, html {
  min-height: 2100px;
  min-width: 2100px;
  height: 2100px;
  width: 2100px;
  position: relative;
  background: #000;
  color: white;
  margin: 0 auto;
}

/* line 36, ../sass/screen.scss */
.sun {
  background: #ffcc00;
  height: 30px;
  width: 30px;
  -moz-border-radius: 30px / 30px;
  -webkit-border-radius: 30px 30px;
  border-radius: 30px / 30px;
  margin-left: -15px;
  margin-top: -15px;
  text-align: center;
  line-height: 30px;
}

/* line 47, ../sass/screen.scss */
.orbit {
  top: 50%;
  left: 50%;
  position: absolute;
  border: 2px solid white;
}
/* line 53, ../sass/screen.scss */
.orbit:before {
  content: '';
  display: block;
  float: left;
  position: absolute;
}

/* line 62, ../sass/screen.scss */
.mercury {
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  -moz-animation: rot 1.2045s infinite linear;
  -webkit-animation: rot 1.2045s infinite linear;
  animation: rot 1.2045s infinite linear;
  -moz-border-radius: 400px / 400px;
  -webkit-border-radius: 400px 400px;
  border-radius: 400px / 400px;
}
/* line 72, ../sass/screen.scss */
.mercury:before {
  background: #ff9000;
  height: 5.6px;
  width: 5.6px;
  position: absolute;
  top: 197.2px;
  -moz-border-radius: 5.6px / 5.6px;
  -webkit-border-radius: 5.6px 5.6px;
  border-radius: 5.6px / 5.6px;
}

/* line 82, ../sass/screen.scss */
.venus {
  width: 700px;
  height: 700px;
  margin-left: -350px;
  margin-top: -350px;
  -moz-animation: rot 3.08s infinite linear;
  -webkit-animation: rot 3.08s infinite linear;
  animation: rot 3.08s infinite linear;
  -moz-border-radius: 700px / 700px;
  -webkit-border-radius: 700px 700px;
  border-radius: 700px / 700px;
}
/* line 91, ../sass/screen.scss */
.venus:before {
  background: #ffde00;
  height: 86.6px;
  width: 86.6px;
  top: 306.7px;
  -moz-border-radius: 86.6px / 86.6px;
  -webkit-border-radius: 86.6px 86.6px;
  border-radius: 86.6px / 86.6px;
}

/* line 100, ../sass/screen.scss */
.earth {
  width: 1000px;
  height: 1000px;
  margin-top: -500px;
  margin-left: -500px;
  -moz-animation: rot 5s infinite linear;
  -webkit-animation: rot 5s infinite linear;
  animation: rot 5s infinite linear;
  -moz-border-radius: 1000px / 1000px;
  -webkit-border-radius: 1000px 1000px;
  border-radius: 1000px / 1000px;
}
/* line 109, ../sass/screen.scss */
.earth:before {
  background: #00aaff;
  height: 100px;
  width: 100px;
  top: 450px;
  -moz-border-radius: 100px / 100px;
  -webkit-border-radius: 100px 100px;
  border-radius: 100px / 100px;
}

/* line 118, ../sass/screen.scss */
.mars {
  width: 1500px;
  height: 1500px;
  margin-left: -750px;
  margin-top: -750px;
  -moz-animation: rot 9.5s infinite linear;
  -webkit-animation: rot 9.5s infinite linear;
  animation: rot 9.5s infinite linear;
  -moz-border-radius: 1500px / 1500px;
  -webkit-border-radius: 1500px 1500px;
  border-radius: 1500px / 1500px;
}
/* line 127, ../sass/screen.scss */
.mars:before {
  background: #ff0036;
  height: 15.1px;
  width: 15.1px;
  top: 742.45px;
  -moz-border-radius: 15.1px / 15.1px;
  -webkit-border-radius: 15.1px 15.1px;
  border-radius: 15.1px / 15.1px;
}
